<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caiyide.primary.mapper.BCollectionMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        collect_id AS collectId, product_id AS productId, user_id AS userId, createtime
    </sql>

    <select id="getById" resultType="com.caiyide.primary.entity.BCollection">
        select <include refid="Base_Column_List"/> from b_collection where id = #{id}
    </select>

    <select id="getPageList" resultType="com.caiyide.primary.entity.BCollection">
        select <include refid="Base_Column_List"/> from b_collection
    </select>

</mapper>
